*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
      padding: 5px;
      background:url(../HTML/imgs/bckgrnd.avif)
       repeat scroll center ,linear-gradient(royalblue ,rgba(0, 0, 0, 0.501));
}
.container{
      margin: 0 auto;
      max-width: 85%;
      overflow: hidden;
}
header, footer{
     width: 100%;
     padding: 15px;
     color: aliceblue;
     text-transform: uppercase;
     text-align: center;
     background: black;
}
.contenido{
      width: 70%;
      border: 3px solid aliceblue;
      color: antiquewhite;
}
.contenido, aside, footer{
     float: left;
     padding: 15px;
}
aside{
      width: 30%;
      height: 100%;
      border: 3px solid aliceblue;
      padding: 15px;
      color: aliceblue;
}
@media screen and (max-width:800px){
      .contenido, aside{
            width: 100%;
      }    
      *{
            font-size: medium;
      }  
}

@media screen and (max-width:500px) {
      .container{
            max-width: 100%;
      }
      
      *{
            font-size: small;
      }
      
}

